@import 'tailwindcss';
@import './themes/light.css';
@import './themes/dark.css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-shadow: var(--shadow);

  --color-editor: var(--editor-bg);
  --color-sidebar: var(--sidebar-bg);
  --color-panel: var(--panel-bg);
  --color-tab: var(--tab-bg);
  --color-tab-active: var(--tab-active-bg);
  --color-tab-border: var(--tab-border);

  --color-token-keyword: var(--token-keyword);
  --color-token-string: var(--token-string);
  --color-token-function: var(--token-function);
  --color-token-variable: var(--token-variable);
  --color-token-comment: var(--token-comment);
  --color-token-hover: var(--token-hover);

  --color-statusbar: var(--statusbar-bg);
  --color-scrollbar-thumb: var(--scrollbar-thumb);
  --color-list-active: var(--list-active-bg);
  --color-list-active-fg: var(--list-active-fg);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}
.font-mono {
  font-family: var(--font-inconsolata);
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted);
}
